--
-- PostgreSQL database dump
--

\restrict qY16YZkSFbPxBFYnXqC27yQV1eUr0SKleCMV1fMdJaY1QukORH3rPh5RPuFwgnv

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: defect_requirement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.defect_requirement (
    bug_id character varying(20) NOT NULL,
    req_id character varying(20) NOT NULL
);


ALTER TABLE public.defect_requirement OWNER TO postgres;

--
-- Name: defect_testcase; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.defect_testcase (
    bug_id character varying(20) NOT NULL,
    tc_id character varying(20) NOT NULL
);


ALTER TABLE public.defect_testcase OWNER TO postgres;

--
-- Name: defects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.defects (
    bug_id character varying(20) NOT NULL,
    title text NOT NULL,
    module text NOT NULL,
    severity text NOT NULL,
    priority text NOT NULL,
    status text DEFAULT 'New'::text NOT NULL,
    environment text,
    preconditions text,
    steps text NOT NULL,
    actual_result text NOT NULL,
    expected_result text NOT NULL,
    reproducibility text,
    impact text,
    attachments text,
    notes text,
    CONSTRAINT defects_priority_check CHECK ((priority = ANY (ARRAY['Low'::text, 'Medium'::text, 'High'::text]))),
    CONSTRAINT defects_severity_check CHECK ((severity = ANY (ARRAY['Low'::text, 'Medium'::text, 'High'::text])))
);


ALTER TABLE public.defects OWNER TO postgres;

--
-- Name: requirements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.requirements (
    req_id character varying(20) NOT NULL,
    title text NOT NULL,
    area text NOT NULL,
    priority text NOT NULL,
    type text NOT NULL,
    notes text,
    CONSTRAINT requirements_priority_check CHECK ((priority = ANY (ARRAY['Low'::text, 'Medium'::text, 'High'::text])))
);


ALTER TABLE public.requirements OWNER TO postgres;

--
-- Name: test_cases; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.test_cases (
    tc_id character varying(20) NOT NULL,
    title text NOT NULL,
    module text NOT NULL,
    req_id character varying(20) NOT NULL,
    priority text NOT NULL,
    test_type text NOT NULL,
    automation_candidate boolean DEFAULT false NOT NULL,
    notes text,
    CONSTRAINT test_cases_priority_check CHECK ((priority = ANY (ARRAY['Low'::text, 'Medium'::text, 'High'::text])))
);


ALTER TABLE public.test_cases OWNER TO postgres;

--
-- Data for Name: defect_requirement; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.defect_requirement (bug_id, req_id) FROM stdin;
BUG-010	REQ-API-03
BUG-011	REQ-API-05
BUG-012	REQ-API-06
\.


--
-- Data for Name: defect_testcase; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.defect_testcase (bug_id, tc_id) FROM stdin;
BUG-010	TC-API-006
BUG-011	TC-API-005
BUG-012	TC-API-009
\.


--
-- Data for Name: defects; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: requirements; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.requirements (req_id, title, area, priority, type, notes) FROM stdin;
REQ-API-03	POST /signup registers user	Auth API	High	API	Negative cases must be handled with controlled error responses.
REQ-API-05	POST /addtocart adds item to cart	Cart API	High	API	Cart state must persist per cookie/session.
REQ-API-06	Token/cookie must be validated and isolated per user/session	Cart/Auth API	High	API	Cart data must not leak between cookies.
\.


--
-- Data for Name: test_cases; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.test_cases (tc_id, title, module, req_id, priority, test_type, automation_candidate, notes) FROM stdin;
TC-API-006	Signup with missing or empty required fields	Auth API	REQ-API-03	High	API, Negative	t	Username empty triggers server instability
TC-API-005	Add product to cart via /addtocart and verify via /view	Cart API	REQ-API-05	High	API, Integration	t	Inconsistency between /addtocart and /view
TC-API-009	View cart must not expose data of another user	Cart API	REQ-API-06	High	API, Security, Negative	f	Identical error responses for different cookies
\.


--
-- Name: defect_requirement defect_requirement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.defect_requirement
    ADD CONSTRAINT defect_requirement_pkey PRIMARY KEY (bug_id, req_id);


--
-- Name: defect_testcase defect_testcase_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.defect_testcase
    ADD CONSTRAINT defect_testcase_pkey PRIMARY KEY (bug_id, tc_id);


--
-- Name: defects defects_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.defects
    ADD CONSTRAINT defects_pkey PRIMARY KEY (bug_id);


--
-- Name: requirements requirements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.requirements
    ADD CONSTRAINT requirements_pkey PRIMARY KEY (req_id);


--
-- Name: test_cases test_cases_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test_cases
    ADD CONSTRAINT test_cases_pkey PRIMARY KEY (tc_id);


--
-- Name: defect_requirement defect_requirement_bug_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.defect_requirement
    ADD CONSTRAINT defect_requirement_bug_id_fkey FOREIGN KEY (bug_id) REFERENCES public.defects(bug_id) ON DELETE CASCADE;


--
-- Name: defect_requirement defect_requirement_req_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.defect_requirement
    ADD CONSTRAINT defect_requirement_req_id_fkey FOREIGN KEY (req_id) REFERENCES public.requirements(req_id) ON DELETE CASCADE;


--
-- Name: defect_testcase defect_testcase_bug_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.defect_testcase
    ADD CONSTRAINT defect_testcase_bug_id_fkey FOREIGN KEY (bug_id) REFERENCES public.defects(bug_id) ON DELETE CASCADE;


--
-- Name: defect_testcase defect_testcase_tc_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.defect_testcase
    ADD CONSTRAINT defect_testcase_tc_id_fkey FOREIGN KEY (tc_id) REFERENCES public.test_cases(tc_id) ON DELETE CASCADE;


--
-- Name: test_cases test_cases_req_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test_cases
    ADD CONSTRAINT test_cases_req_id_fkey FOREIGN KEY (req_id) REFERENCES public.requirements(req_id);


--
-- PostgreSQL database dump complete
--

\unrestrict qY16YZkSFbPxBFYnXqC27yQV1eUr0SKleCMV1fMdJaY1QukORH3rPh5RPuFwgnv

